/.DS_Store
/.idea
/LICENSE
/work
/.gitconfig
/.local
/.ssh
/.vscode-server
.env
/.cache
/.ipython
/.aws-sam
/.cookiecutter_replay
__pycache__
.bash_history
/.npm
/.jupyter
.bashrc
.viminfo
.lesshst
.dotnet
logs.log
app/mlbot_bitflyer/main.py
/test_df.csv
*.csv
app/mlbot_bybit/main.py
*.pkl
*.lock